---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Kai Aydan North";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Kai Aydan North</h1>
    <span class="badge">Customer Service Specialist & Software Engineering Aspirant</span>
    <h2>About</h2>
	<p>I started my career working in call centers, initially in job<br>
    coaching and later in supporting students with their studies by<br>
    providing and assisting them in getting their Unique Student <br>
    Identifier numbers (USIs). Through these experiences, I developed a<br>
    deeper understanding of the importance of accessibility and the<br>
    challenges faced by individuals unable to access education and <br>
    employment opportunities.
    </p>
	<p>
    One of my key strengths is my ability to connect with people.<br>
    I enjoy building relationships and creating a supportive environment <br>
    where everyone feels valued and included. Additionally, my <br>
    creativity allows me to think outside the box and come up with<br>
    innovative solutions to problems.
  </p>
	<p>
    Currently, I am studying at 42 The Programming School to<br>
    develop new skills. I enjoy tacking coding problems creatively<br>
    from new angles.
  </p>
	<p>
    One day I would love to have the opportunity to leverage the new<br>
    skills I am developing and passion for accessibility to create<br>
    more inclusive technologies and environments.
  </p>
  <h2>My Skills</h2>
  <h3>Applications & Programs</h3>
  <ul>
    <li>Visual Studio Code</li>
    <li>iTerm2</li>
    <li>Windows Terminal</li>
    <li>Vim</li>
    <li>Microsoft Suite</li>
    <li>MYOB</li>
    <li>PlasterPak</li>
    <li>Website Builders (Taylor Brands, Wix)</li>
  </ul>
  <br>
  <h3>Programming</h3>
  <ul>
    <li>Markdown</li>
    <li>HTML</li>
    <li>CSS</li>
    <br>
    <li><i>Currently Learning:</i></li>
    <li>C</li>
    <li>Python</li>
    <li>Svelte</li>
    <li>Vite</li>
  </ul>
  <br>
  <h3>Work Experience</h3>
  <ul>
    <li>Inbound & Outbound Contact Centre</li>
    <li>Job Coaching</li>
    <li>Administration</li>
    <li>Showroom/Front of House</li>
    <li>Market Sales</li>
    <li>Small Social Media Managment</li>
  </ul>
  <br>
  <h3>Interpersonal</h3>
  <ul>
    <li>Tactful Dispute & Conflict Resolution</li>
    <li>Compassion & Empathy</li>
    <li>Creative Problem Solving</li>
    <li>Providing a Positive User/Customer Experience</li>
    <li>Contributing to a Healthy Work Environment</li>
    <li>Going Above and Beyond to Assist Both Coworkers & Clients.</li>
  </ul>

    <div class="center">
        <br>
        <br>
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <!-- <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="DotNetCore" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="TypeScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Bootstrap" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div> -->
    <h2>Interests</h2>
    <p>
      I'm passionate about accessibility and inclusion, both in <br>
      workplaces and everyday life. I firmly believe that everyone<br>
      deserves equal opportunities and access to resources, <br>
      regardless of their background, circumstances or abilities.<br>
      <br>
      In my personal time I enjoy creating things, playing with website<br>
      design, making crafts and handmade gifts for friends and family.<br>
      I also love learning about new and interesting topics, spending<br>
      time with my pets and playing games!
    </p>
</Layout>

