---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Kai Aydan North";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/blog.webp"/>
    </div>
    <h1>Resume</h1>
    <span class="badge">0421 574 196</span>
	<span class="badge">KAIAYDAN413@GMAIL.COM</span>
	<span class="badge">DARLINGTON SA 5043</span>
    <h2>Professional Summary</h2>
    <p>
		Currently studying at 42, a Programming School, learning new skills for a career change! 
		Experience in Contact Centres, Job Coaching, Administration, Showroom/Front of House, and Market Sales. 
		Passionate about providing a positive experience, contributing to a healthy work environment, 
		and assisting others wherever possible. Consistently demonstrates high quality work focusing on 
		resolving all issues with efficiency, compassion, and tactful dispute resolution.
	</p>
	<h2>Core Strenghts</h2>
    <ul>
        <li>Diligence</li>
        <li>Cognitive Empathy</li>
        <li>Communication</li>
        <li>Creativity</li>
        <li>Adaptability</li>
        <li>Accountability</li>
    </ul>
	<h2>Key Skills & Attributes</h2>
	<ul>
        <li>Strong communication skills repeatedly demonstrated during my time as a Job Coach at MADEC while cultivating client relationships with only telephone and digital communication.</li><br>
    	<li>The ability to work within time constraints such as managing appointment to make sure they ran within the allotted time frame and covered all required points.</li><br>
        <li>Openness to feedback and strive to improve as shown after the KPI change within the OSIR Customer Service team and working to meet the new standards.</li><br>
        <li>Empathy and open-mindedness shown with clients at MADEC, understanding their struggles, encouraging them to express their needs and achieve their goals.</li><br>
        <li>Adaptability highlighted in both call centre roles by maintaining call quality and control when callers have unexpected problems that need to be solved.</li><br>
        <li>Collaboration and contributing to team development, for example my Culture Club participation within OSIR. Organising office events and contributing to a positive team environment.</li><br>
    </ul>

<h2>Career Timeline</h2>
<p><br>
<i>May 2022 – September 2023</i><br>
Office of Student Identifier Registrar (OSIR)<br>
<i><b>Customer Service Officer</b></i><br>
<br>
<i>October 2021 – May 2022</i><br>
MADEC Australia<br>
<i><b>Job Coach (Digital/Call Centre)</i></b><br>
<br>
<i>2012</i><br>
Individual NDIS Client<br>
<i><b>Mentoring/Support</i></b><br>
<br>
<i>January – May 2021</i><br>
Easy Turning Green<br>
<i><b>Admin, Social Media, Showroom & Market Stall Attendant</i></b><br>
<br>
<i>2017 – 2018</i><br>
Polson Ceilings<br>
<i><b>Administration Assistant</i></b><br>
</p>

<h2>Education</h2>
<p><br>
    <i>March 2024 - Current</i><br>
    42 Programming School<br>
    <b><i>Common Cursus 2024</i></b><br>
    <br>
    <i>2022</i><br>
    LinkedIn Learning<br>
    <b><i>Creating Positive Conversations with Challenging Customers</i></b><br>
    <br>
    <i>2022</i><br>
    Clear to Work<br>
    <b><i>Cash Handling & Transaction Management</i></b><br>
    <b><i>Body Language as a Sales Tool</i></b><br>
    <b><i>Negotiation & Persuasion</i></b><br>
    <br>
    <i>2019</i><br>
    Aberfoyle Park High School 2019<br>
    <b><i></i>South Australian Certificate of Education</i></b><br>
    <br>
    <i>2017-2018</i>
    Hamilton Secondary College<br>
    <b><i>Certificate III in Business Administration (10/13 Units Completed)</i></b>
</p>

<h2>Volunteering and Other Experience</h2>
<p><br>
    <i>September 2022 – September 2023</i><br>
    OSIR<br>
    <b><i>Culture Club</i></b>
    <br>
    <i>2018</i><br>
    IPC Granite<br>
    <b><i>Reception & Showroom Attendant Work Experience</i></b><br>
    <br>
    <i>November - December 2018</i><br>
    World Challenge & Aberfoyle Park High School<br>
    <b><i>World Challenge Program</i></b><br>
    <br>
    <i>2016 - 2019</i><br>
    Aberfoyle Park High School<br>
    <b><i>EQHQ - Equality Headquarters</i></b><br>
    <br>
    <i>2017</i><br>
    Aberfoyle Park High School<br>
    <b><i>Big Brother/Big Sister Program</i></b><br>
</p>

<h2>Clearances</h2>

<ul>
    <li>AGSVA Baseline Security Clearance (Nov-2022)</li><br>
    <li>Working with Children Check (2022)</li><br>
    <li>Working with Vulnerable Persons DHS Clearance (2022</li>
</ul>

<h2>References</h2>
 <p><br>
 	<b>Jarrad Lee</b><br>
    Quality Assurance Manager<br>
    <i>Office of Student Identifier Registrar<br>
    <b>0406 233 400<br>
    jarrad.lee@tuta.io</b></i>><br>
    <br>            
	<b>Thom Atherton</b><br>
    Coaching and Capabilities Manager<br>
    <i>Office of Student Identifier Registrar<br>
    <b>0447 025 628<br>
    thomas.atherton@usi.gov.au</b></i><br>
	<br>
    <b>Alinah Alba</b><br>
    Acting Real Time Manager<br>
	<i>Office of Student Identifier Registrar<br>
    <b>0402 699 418<br>
    mariaalinah.alba@usi.gov.au</b></i><br>
	<br>        
	<b>Sarah Gurney</b><br>
    Team Leader<br>
    <i>MADEC Australia<br>
    <b>0403 063 201</b></i><br>
    </p>


</Layout>

