---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Kai Aydan North</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Works</a>
        <a href="/resume/">Resume</a>
        <a href="https://github.com/knbyte" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>

